{% load staticfiles %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>


<script type="text/javascript" src="{% static 'jquery.dajax.core.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.min.js' %}"> </script>
<link rel="stylesheet" media="all" href="{% static "jquery.dataTables.min.css" %}" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>




 <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>


    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/jsi18n/"></script>
<link href="/static/select2/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ui_sortable.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.js"></script>
<script type="text/javascript" src="/static/admin/js/collapse.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>

     <link rel="stylesheet" href="/static/style_aware.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->


<style type="text/css">
  #trJMenu td { white-space: nowrap; width: auto; border: 2px solid white}
  #trJMenu li { white-space: nowrap; width: auto; border: 2px solid white}
  cool {border-style: hidden}
</style>


<script language="javascript" type="text/javascript">
  $(document).ready(function(){
    $("#trJMenu").menu( { position: { my: "left top", at: "center bottom" , } } );
  });
</script>





{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}



<table border="0">
  <tr  id='trJMenu'>
      <td >
      <a href='/request/edit/0/'>Добавить обращение</a>

    </td>
      <td>
    <td >
      <a href='#'>Отчеты</a>
      <ul>
        <li><a href='#'>Отчет 1</a></li>
        <li><a href='#'>Отчет 2</a></li>
      </ul>
    </td>
      <td>
      <a href='#'>Настройки</a>
      <ul>
        <li><a href='#'>Настройка 1</a></li>
        <li><a href='#'>Настройка 2</a></li>
      </ul>
    </td>
    <td>
      <a href='/request/logoff/'>Выход</a>

    </td>
  </tr>
</table>


<a>Добро пожаловать, {{ User }} / </a>
<!-- <a href=/cool_view/password_change/> / ИЗМЕНИТЬ ПАРОЛЬ /</a> -->
<!-- <a href=/request/logoff/> Выйти</a> </br> -->


<form method="post" action="/index/">
    {% csrf_token %}

<div class="field-box field-request_date">
<a>От:</a>
<input type="text" name="start_date" value="{{ date1 }}" class="vDateField" size="10" required id="id_request_date" />
</div>

<div class="field-box field-request_date">
    <a>До:</a>
<input type="text" name="end_date" value="{{ date2 }}" class="vDateField" size="10" required id="id_request_date" />
</div>

    <input type="submit" value="Поиск" name="filter"/> <a>Показано {{ count_rec_cur }} записей из {{ count_rec_all }}</a> <a href="/index/">Показать все</a>


</form>



<!-- <a href=/request/edit/0/> Добавить обращение</a> -->
<table>
<tr>
<td width="100%">
<table id="example" class="cell-border compact stripe">
        <thead>
             <tr>
            <td> <a>Дата</a> </td>
            <td> <a>Номер</a> </td>
            <td> <a>Фамилия</a> </td>
            <td> <a>Имя</a> </td>
            <td> <a>Отчество</a> </td>
            <td> <a>Обращение по поводу себя (да / нет)</a> </td>

                 <td> <a>Фамилия</a> </td>
            <td> <a>Имя</a> </td>
            <td> <a>Отчество</a> </td>
                 <td> <a>Дата рождения</a> </td>
            <td> <a>Место работы</a> </td>
            <td> <a>Дожность</a> </td>
                 <td> <a>Адрес</a> </td>
            <td> <a>Телефон</a> </td>


                 <td> <a>К какому медиц.орган. жалоба</a> </td>
            <td> <a>Вопрос</a> </td>
                 <td> <a>Результат</a> </td>
                 <td> <a>Прием проводил</a> </td>
                 <td> <a>Дети/взрослые</a> </td>

                 <td> <a>Тип</a> </td>
                 <td> <a>Решено положительно<a> </td>
                 <td> <a>Даны разъяснения<a> </td>

            <td> <a>Печать</a> </td>
                 <td> <a>Удалить</a> </td>
             </tr>
        </thead>
        <tbody>
            {% for item  in hotline%}

        <tr {% if item.resolved%} bgcolor="#ffcc00"{% endif %}>

        <td> <a href=/request/edit/{{item.id }}>{{ item.request_date }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.number }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.request_f }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}> {{ item.request_i }}</a> </td>
        <td> <a href=/request/edit/{{item.id }}>{{ item.request_o }}</a> </td>
        <td> <a href=/request/edit/{{item.id }}>{% if item.request_s%} + {% else %} - {% endif %}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.patient_f}}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.patient_i }}</a> </td>
        <td> <a href=/request/edit/{{item.id }}>{{ item.patient_o }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.patient_date}}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.patient_work }}</a> </td>
        <td> <a href=/request/edit/{{item.id }}>{{ item.patient_position }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.patient_address}}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.patient_phone}}</a> </td>

            <td> <a href=/request/edit/{{item.id }}>{{ item.clinic }}</a> </td>
        <td> <a href=/request/edit/{{item.id }}>{{ item.question }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.result}}</a> </td>

            <td> <a href=/request/edit/{{item.id }}>{{ item.who_take }}</a> </td>
        <td> <a href=/request/edit/{{item.id }}>{{ item.age }}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{{ item.type_request}}</a> </td>

            <td> <a href=/request/edit/{{item.id }}>{% if item.resolved%} + {% else %} - {% endif %}</a> </td>
            <td> <a href=/request/edit/{{item.id }}>{% if item.comment%} + {% else %} - {% endif %}</a> </td>

        <td> <a><span><a href=/request/print/{{item.id }}> <img src="/static/print.png" width="20" height="20" title="Печать"></img></a></span></a> </td>
            <td> <a></a> </td>

        </tr>
    {% endfor %}
       </tbody>
    </table>
</td>
    </tr>
</table>

<script>

$("#example").dataTable(
    {
        "lengthChange": false,
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
        switch(aData[7]){
            case "<a>+</a>":
                $(nRow).css('color', 'red')
                break;
        }},

    "pageLength": 25,
    language: {
      "processing": "Подождите...",
      "search": "Поиск:",
      "lengthMenu": "Показать _MENU_ записей",
      "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
      "infoEmpty": "Записи с 0 до 0 из 0 записей",
      "infoFiltered": "(отфильтровано из _MAX_ записей)",
      "infoPostFix": "",
      "loadingRecords": "Загрузка записей...",
      "zeroRecords": "Записи отсутствуют.",
      "emptyTable": "В таблице отсутствуют данные",
      "paginate": {
        "first": "Первая",
        "previous": "Предыдущая",
        "next": "Следующая",
        "last": "Последняя"
      },
      "aria": {
        "sortAscending": ": активировать для сортировки столбца по возрастанию",
        "sortDescending": ": активировать для сортировки столбца по убыванию"
      }
  }}




);

</script>



    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->



</body>
</html>
